---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import TemplateStore from '../../components/TemplateStore.svelte';

const registryUrl = 'https://presto.c-1o.top/templates/registry.json';
---
<Layout title="模板商店 - Presto">
  <Header />
  <main class="store-page">
    <TemplateStore client:load {registryUrl} />
  </main>
  <Footer />
</Layout>

<style>
  .store-page {
    padding-top: 72px;
    min-height: 100vh;
  }
</style>
